@import url(./reset.css);

:root{
    --Very-darkbluemainbackground: hsl(233, 47%, 7%);
    --Darkdesaturatedbluecardbackground: hsl(244, 38%, 16%);
    --Softvioletaccent1: hsl(277, 64%, 61%);
    --Softvioletaccent: hsl(277, 64%, 36%);

    --Whiteheadingstats: hsl(0, 0%, 100%);
    --Slightlytransparentwhitemainparagraph: hsla(0, 0%, 100%, 0.75);
    --Slightlytransparentwhitestatheadings: hsla(0, 0%, 100%, 0.6);
}

@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'lexend';
    src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}
html,body{
    position: relative;
    background-color: var(--Very-darkbluemainbackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
main{
    display: flex;
    height: 20rem;
}
.partition1{
    background-color: var(--Darkdesaturatedbluecardbackground);
    width: 100%;
    max-width: 25rem;
    font-family: 'inter';
    color: white;
    padding: 2.5rem;
    height: 100%;
    border-radius: 10px 0 0 10px;
    h1{
        font-size: 1.9rem;
        font-weight: 650;
        line-height: 2rem;
        padding: 0.5rem 0 1rem;
    }
    span{
        color: var(--Softvioletaccent1);
    }
}
.para{
    color: var(--Slightlytransparentwhitemainparagraph);
    font-size: 0.78rem;
    padding: 0.5rem 0 2rem;
}
.division{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 0;
}
.companies, .templates, .queries{
    line-height: 1.4rem;
    padding: 1rem 0 0;
    font-size: 1.1rem;
    strong{
        font-weight: 650;
    }
    p{
        font-family:'lexend';
        font-weight: 200;
        letter-spacing: 0.02rem;
        color: var(--Slightlytransparentwhitestatheadings);
        text-transform: uppercase;
        font-size: 0.65rem;
    }
}
.queries{
    strong{
        text-transform: uppercase
    }
}
footer{
    position: absolute;
    top:97%;
}
.background, .background1{
    background-color: var(--Softvioletaccent);
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;

    img{
        width: 100%;
        opacity: 0.5;
        height: 100%;
        border-radius: 0 10px 10px 0;
        height: 100%;
    }
}
.background1{
    display:none;
}
@media screen and (max-width: 575px) {
    main{
        padding: 2rem 2rem 6rem;
        flex-direction: column;
        height: auto;
    }
    .background{
        display: none;
    }
    .background1{
        display: flex;
        img{
            border-radius: 10px 10px 0 0;
        }
    }
    .partition1{
        max-width: 100%;
        padding: 2.5rem;
        height: 100%;
        border-radius: 0 0 10px 10px;
        text-align: center;
        h1{
            font-size: 2.4rem;
            font-weight: 650;
            line-height: 2rem;
            padding: 0.5rem 0 1rem;
        }
        span{
            color: var(--Softvioletaccent1);
        }
    }
    .para{
        color: var(--Slightlytransparentwhitemainparagraph);
        font-size: 1.25rem;
        padding: 0.5rem 0 2rem;
    }
    .division{
        flex-direction: column;
        padding: 0;
    }
    .companies, .templates, .queries{
        font-size: 1.5rem;
        margin: 0 0 0.8rem;
        p{
            font-size: 0.8rem;
            padding: 0.3rem 0;
        }
    }
}