@import url(./reset.css);

:root{
    --Very-darkbluemainbackground: hsl(233, 47%, 7%);
    --Darkdesaturatedbluecardbackground: hsl(244, 38%, 16%);
    --Softvioletaccent1: hsl(277, 64%, 61%);
    --Softvioletaccent: hsl(277, 64%, 36%);

    --Whiteheadingstats: hsl(0, 0%, 100%);
    --Slightlytransparentwhitemainparagraph: hsla(0, 0%, 100%, 0.75);
    --Slightlytransparentwhitestatheadings: hsla(0, 0%, 100%, 0.6);
}

@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'lexend';
    src: url(./fonts/LexendDeca-VariableFont_wght.ttf);
}
body{
    background-color: var(--Very-darkbluemainbackground);
}
main{
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    max-width: 50rem;
}
.partition1{
    background-color: var(--Darkdesaturatedbluecardbackground);
    width: 100%;
    max-width: 25rem;
    font-family: 'inter';
    color: white;
    padding: 2.5rem;
    border-radius: 10px 0 0 10px;
    h1{
        font-size: 1.9rem;
        font-weight: 650;
        line-height: 2rem;
        padding: 0.5rem 0 1rem;
    }
    span{
        color: var(--Softvioletaccent1);
    }
}
.para{
    color: var(--Slightlytransparentwhitemainparagraph);
    font-size: 0.78rem;
    padding: 0.5rem 0 2rem;
}
.division{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem 0 0;
}
.companies, .templates, .queries{
    line-height: 1.4rem;
    padding: 1rem 0 0;
    font-size: 1.1rem;
    strong{
        font-weight: 650;
    }
    p{
        font-family:'lexend';
        font-weight: 200;
        letter-spacing: 0.02rem;
        color: var(--Slightlytransparentwhitestatheadings);
        text-transform: uppercase;
        font-size: 0.65rem;
    }
}
.queries{
    strong{
        text-transform: uppercase
    }
}
.background{
    background-color: var(--Softvioletaccent);
    width: 100%;
    max-width: 25rem;
    max-height: 21rem;
    border-radius: 0 10px 10px 0;

    img{
        width: 100%;
        opacity: 0.5;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }
}